body {
	background-color: #f9f9f9 !important ;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: 100vh !important;
  }
  
  .col-md-6 {
	box-shadow: 15px 15px 25px 25px rgb(209, 209, 209), -10px -10px 25px  white !important;
	border-radius: 10px !important;
  }
  
  h1 {
	text-align: center !important;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
	color: rgb(0, 179, 149) !important;
  }
  
  .chars {
	width: 90% !important;
	padding: 5px !important;
	margin-right: 40px !important;
	background-color: #f9f9f9 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	height: 100% !important;
	font-size: 1.5rem !important;
	font-family: monospace !important;
	border-radius: 10px !important;
	border-color: #f9f9f9 !important;
	box-shadow: 5px 5px 5px rgb(209, 209, 209), -5px -5px 5px white !important;
	color: rgb(0, 179, 149) !important;
	background-color: white !important;
	font-weight: bold !important;
  }
  
  .container justify-content-center {
	background-color: #f9f9f9 !important;
	padding: 30px 20px !important;
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr !important;
	text-align: center !important;
	column-gap: 20px !important;
	row-gap: 25px !important;
	align-items: center !important;
	border-radius: 20px !important;
	box-shadow: 15px 15px 25px rgb(209, 209, 209), -10px -10px 25px white !important;
  }
  
  .table {
	border: white !important;
  }
  
  .num {
	width: 60% !important;
	padding: 5px !important;
	background-color: #f9f9f9 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	height: 100% !important;
	font-size: 1.5rem !important;
	font-family: monospace !important;
	border-radius: 10px !important;
	border-color: #f9f9f9 !important;
	box-shadow: 5px 5px 5px rgb(209, 209, 209), -5px -5px 5px white !important;
	-moz-transition: all 0.4s ease-in-out !important;
	-o-transition: all 0.4s ease-in-out !important;
	-webkit-transition: all 0.4s ease-in-out !important;
	transition: all 0.4s ease-in-out !important;
	margin-left: 4%;
	margin-top: 2%;
  }
  
  .num:hover {
	background-image: linear-gradient(
	  to right,
	  #5bb7df,
	  #7ae9b4,
	  #6fe2aa,
	  #6cd8a4
	) !important;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75) !important;
	background-position: 100% 0 !important;
	-moz-transition: all 0.4s ease-in-out !important;
	-o-transition: all 0.4s ease-in-out !important;
	-webkit-transition: all 0.4s ease-in-out !important;
	transition: all 0.4s ease-in-out !important;
  }
  
  .chars:hover {
	background-image: linear-gradient(
	  to right,
	  #5bb7df,
	  #7ae9b4,
	  #6fe2aa,
	  #6cd8a4
	) !important;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.5) !important;
	background-position: 100% 0 !important;
	-moz-transition: all 0.4s ease-in-out !important;
	-o-transition: all 0.4s ease-in-out !important;
	-webkit-transition: all 0.4s ease-in-out !important;
	transition: all 0.4s ease-in-out !important;
  }
  
  #textarea {
	width: 90% !important;
	padding: 5px !important;
	background-color: #f9f9f9 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	height: 100% !important;
	font-size: 1.5rem !important;
	font-family: monospace !important;
	border-radius: 10px !important;
	border-color: white !important;
	box-shadow: inset 5px 5px 5px rgba(209, 209, 209, 0.466),
	  inset -5px -5px 5px white !important;
  }
  